a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#table_d09b3d8 th { border: 1px solid #8C8C8C;  } 
#table_d09b3d8 td { border: 1px solid #8C8C8C;  } 
#table_41b4302b th { border: 1px solid #8C8C8C;  } 
#table_41b4302b td { border: 1px solid #8C8C8C;  } 
#table_7b65bfd9 th { border: 1px solid #8C8C8C;  } 
#table_7b65bfd9 td { border: 1px solid #8C8C8C;  } 
#table_73620bee th { border: 1px solid #8C8C8C;  } 
#table_73620bee td { border: 1px solid #8C8C8C;  } 
.quienestaenlinea {background: #ffba00; padding: 20px; font-family: Montserrat; font-size: 27px; font-weight: 900; .block{width:100%};text-align: center;}

.contenedor-estadisticas {background: ; height: auto; .block{width:100%}; }

.leyendas-estadisticas {height: 400px; .block{width:100%}; padding-top: 0px; float: left;}

<table id="table_e4bf9ac" cellpadding="3" cellspacing="1"  style="box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-table; width:100%; height:90px; background:none; border: 1px solid #8C8C8C; table-layout: fixed; ">
	<tr>
		<td width="7%" height="20px" style="vertical-align: top; overflow:hidden; ">  <div style="" id="cell_49364a9">
    <div style="text-align:left;">
      <span style="font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold; ">#</span>
      </div>
    </div>
		</td>
		<td width="29%" height="20px" style="vertical-align: top; overflow:hidden; ">  <div style="" id="cell_54a1c552">
    <div style="text-align:left;">
      <span style="font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold; ">Descripción</span>
      </div>
    </div>
		</td>
		<td width="22%" height="20px" style="vertical-align: top; overflow:hidden; ">  <div style="" id="cell_25ee779">
    <div style="text-align:left;">
      <span style="font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold; ">Fecha</span>
      </div>
    </div>
		</td>
		<td width="21%" height="20px" style="vertical-align: top; overflow:hidden; ">  <div style="" id="cell_555429bd">
    <div style="text-align:left;">
      <span style="font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold; ">Estado</span>
      </div>
    </div>
		</td>
		<td width="20%" height="20px" style="vertical-align: top; overflow:hidden; ">  <div style="" id="cell_46617e6a">
    <div style="text-align:left;">
      <span style="font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold; ">Valor</span>
      </div>
    </div>
		</td>
	</tr>
	<tr>
		<td width="7%" height="20px" style="vertical-align: top; overflow:hidden; ">  <div style="" id="cell_4146eb3e">
    <div style="text-align:left;">
      <span style="font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000; ">1</span>
      </div>
    </div>
		</td>
		<td width="29%" height="20px" style="vertical-align: top; overflow:hidden; ">  <div style="" id="cell_7d1752af">
    <div style="text-align:left;">
      <span style="font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000; ">Capital inicial</span>
      </div>
    </div>
		</td>
		<td width="22%" height="20px" style="vertical-align: top; overflow:hidden; ">  <div style="" id="cell_1fd9e86b">
    <div style="text-align:left;">
      <span style="font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000; ">31/08/2021</span>
      </div>
    </div>
		</td>
		<td width="21%" height="20px" style="vertical-align: top; overflow:hidden; ">  <div style="" id="cell_594a0821">
    <div style="text-align:left;">
      <span style="font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000; ">Pagado</span>
      </div>
    </div>
		</td>
		<td width="20%" height="20px" style="vertical-align: top; overflow:hidden; ">  <div style="" id="cell_4bfff64d">
    <div style="text-align:left;">
      <span style="font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000; ">50000<br/></span>
      </div>
    </div>
		</td>
	</tr>
	<tr>
		<td width="7%" height="20px" colspan="4" style="vertical-align: top; overflow:hidden; ">  <div style="" id="cell_6a5612c4">
    <div style="text-align:center;">
      <span style="font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000; ">Total</span>
      </div>
    </div>
		</td>
		<td width="20%" height="20px" >
		</td>
	</tr>
  </table>body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
.textstyle2 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#table_d09b3d8 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-table; width:50%; height:30px; background:none; border: 1px solid #8C8C8C; table-layout: fixed;  }
#cell_6a4e7890 {  }
.textstyle3 { text-align:center; }
#table_41b4302b { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-table; width:50%; height:30px; background:none; border: 1px solid #8C8C8C; table-layout: fixed;  }
#cell_55c7cedb {  }
#table_7b65bfd9 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-table; width:50%; height:30px; background:none; border: 1px solid #8C8C8C; table-layout: fixed;  }
#cell_69f7d430 {  }
#table_73620bee { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-table; width:50%; height:30px; background:none; border: 1px solid #8C8C8C; table-layout: fixed;  }
#cell_7d5b9fe0 {  }
.textstyle4 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;  }
