.quienestaenlinea {background: #ffba00; padding: 20px; font-family: Montserrat; font-size: 27px; font-weight: 900; width: 231px;text-align: center;}

.contenedor-estadisticas {background: ; height: auto; width: 1000px; }

.leyendas-estadisticas {height: 400px; width: 400px; padding-top: 0px; float: left;}

.leyendiseno {display: inline-block; text-decoration: none; font-family: Montserrat; letter-spacing: 0.1px; text-transform: uppercase; font-size: 12px; padding: 10px 0px; margin: 5px 0 0 2px; width: 130px; text-align: center; color: #000!important; transition-duration: 0.5s;-moz-transition-duration: 0.5s; -webkit-transition-duration: 0.5s; -o-transition-duration: 0.5s;}

.leyendiseno:hover {background-image:url(https://cdn100.picsart.com/203422999000202.gif?r1024x1024)!important; color: #ffba00!important; transition-duration: 0.5s;-moz-transition-duration: 0.5s; -webkit-transition-duration: 0.5s; -o-transition-duration: 0.5s;}

.proximareunion {display: inline-block; text-decoration: none; font-family: Montserrat; letter-spacing: 0.1px; text-transform: uppercase; font-size: 12px; padding: 10px 2px; margin: 5px 0 0 2px; width: 263px; text-align: center; color: #000!important; transition-duration: 0.5s;-moz-transition-duration: 0.5s; -webkit-transition-duration: 0.5s; -o-transition-duration: 0.5s;}

.proximareunion:hover {background-image:url(https://cdn100.picsart.com/203422999000202.gif?r1024x1024)!important; color: #ffba00!important; transition-duration: 0.5s;-moz-transition-duration: 0.5s; -webkit-transition-duration: 0.5s; -o-transition-duration: 0.5s;}

.resto-estadisticas {background:; height: 360px; width: 600px; float: left; margin-top: 30px; max-height: 360px; overflow: auto;}

.texto-estadisticas {font-family: Montserrat; color: #d1d1d1; font-size: 12px; line-height: 16px; padding: 0 15px 15px 15px;}

h6{
  font-size: 12px;
}